.popup
  width 100%
  padding ($grid-gutter-width)
  max-width $screen-md-min

  &__header
    text-align center
    margin-bottom rem(30)

  &__title
    font-size rem(26)
    text-transform uppercase

  @media (min-width $screen-md-min)
    padding rem(60)

    &__title
      font-size rem(48)

#block-webform-client-block-14 {
  padding: 50px 80px 52px;
  h2, span.h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.4;
    margin: 20px 0 37px 0;
    text-transform: uppercase;
  }
  .form-common, .webform-client-form {
    text-align: center;
    width: 380px;
    overflow: hidden;
  }
  .form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .form-common dt, .webform-client-form label {
    margin-bottom: 10px;
    font-weight: normal;
  }
  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  html, button, input, select, textarea {
    color: #000;
  }
  select, textarea, input[type="text"], input[type="password"], input[type="email"], .ui-selectmenu-button {
    background: #fff;
    position: relative;
    border-radius: 3px;
    vertical-align: middle;
    border: solid 1px #dee0e1;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    -ms-transition: all .1s;
    transition: all .1s;
  }
  textarea {
    height: 100px;
    font-size: 14px;
    resize: vertical;
    padding: 10px 0 10px 10px;
  }
  .form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type="text"], input[type="password"], input[type="email"], .ui-selectmenu-button {
    height: 36px;
    padding: 0 10px;
    line-height: 35px;
    width: 380px;
  }
  .agreement-pd {
    font-size: 12px;
    color: #333;
  }
  .btn {
    border: 0;
    text-decoration: none;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;
    transition: all .15s;
    box-shadow: none;
    cursor: pointer;
  }
  .btn__default {
    fill: #000;
    color: #000;
    height: 40px;
    padding: 0 21px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #9e0b0f;
    text-transform: uppercase;
    font: 500 12px/40px Font1,'Helvetica Neue',Arial,sans-serif;
    letter-spacing: .05em;
  }
  .btn__red {
    fill: #fff;
    color: #fff;
    background: #9e0b0f;
  }
  .btn__wide {
    padding: 0 35px;
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}