.ill-box
  margin 30px -15px
  &__item
    padding 0
  &__img
    display block
    width 100%
  &_none-margin
    &_all
      margin-top 0
      margin-bottom 0
    &_top
      margin-top 0
    &_bottom
      margin-bottom 0

  @media (min-width: $screen-md-min)
    margin-left -40px
    margin-right -40px