.btn
  display inline-block
  line-height 1.25em
  text-align center
  vertical-align top
  touch-action manipulation
  cursor pointer
  background none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214
  border 0
  text-overflow(ellipsis)
  max-width 100%
  padding 0
  user-select none
  text-decoration none
  transition $transition-base

  &,
  &:active,
  &.active
    &:focus,
    &.focus
      outline 0

  &:hover,
  &:focus,
  &.focus
    //color $btn-default-color
    text-decoration none

  &:active,
  &.active
    outline 0
    //background-image none
    //box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    disabled()

  &__icon
    display inline-block
    vertical-align top

  &_1
    color white
    font-weight 700
    font-size rem(18)
    text-transform uppercase
    padding rem(16px) rem(15px) rem(15px)
    background-color #1d97db
    &:hover,
    &:focus,
    &.focus
      color white
      background-color darken(#1d97db, 15%)
    &:active,
    &.active
      box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)

  &_2
    color white
    font-weight 700
    font-size rem(12)
    padding rem(3px) rem(20px) rem(1px)
    background-color #3294d2
    &:hover,
    &:focus,
    &.focus
      color white
      background-color #85c8eb
    &:active,
    &.active
      background-color #1a3b6f
      box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)