.articles-list-3 {
  margin 0 0 rem(-30)

  &__row {
    justify-content center
  }

  &__col {
    max-width rem(565) + $grid-gutter-width
    margin 0 0 rem(30)
    &:empty {
      margin 0
    }
  }
}