.date
  font-size 11px
  text-transform uppercase
  line-height 27px
  padding-left 25px
  position relative
  white-space nowrap
  &__icon
    color $blue-1
    font-size 16px
    position absolute
    left 0