.price
  color white
  font-weight 700
  text-transform uppercase
  font-size (44/$font-size-root)rem
  line-height 1.1em
  white-space nowrap
  small
    font-size (20/$font-size-root)rem
    margin-left -7px
  &_old
    font-size (30/$font-size-root)rem
    font-weight 400
    text-decoration line-through
    text-transform none