include ../product-item/product-item

-
  var productsList = [
    {src: 'ece3764b049fb4be6715cb8da0ead2e2', title: 'Пряжа BBB Zarra', price: ['300', '240'], incart: false, available: true, infavorites: true},
    {src: 't_458915436-300x300', title: 'Очень качественная пряжа BBB Zarrina', price: ['1300', '1240'], incart: true, available: true, infavorites: false},
    {src: 'item_287-400x400', title: 'Пряжа BBB Zarra', price: ['300', '240'], incart: false, available: false, infavorites: false},
    {src: 't_458915436-230x218', title: 'Очень качественная пряжа BBB Zarrina', price: ['1300', '1240'], incart: false, available: true, infavorites: false},

    {src: 'ece3764b049fb4be6715cb8da0ead2e2', title: 'Пряжа BBB Zarra', price: ['300', '240'], incart: false, available: true, infavorites: false},
    {src: 't_458915436-300x300', title: 'Очень качественная пряжа BBB Zarrina', price: ['1300', '1240'], incart: false, available: true, infavorites: false},
    {src: 'item_287-400x400', title: 'Пряжа BBB Zarra', price: ['300', '240'], incart: false, available: true, infavorites: false}
  ]

mixin products-list(data, category, slick)
  // Products-list
  .-products-list&attributes(attributes)
    .__inner(class={'slick-slider': slick})
      each item, index in data
        +product-item(item, category, slick)
  // /Products-list