mixin counter()
  .-counter&attributes(attributes)
    button.__btn._dec.btn.icon-minus-1(type='button')
    input.__input(type='text' value='1' readonly)
    button.__btn._inc.btn.icon-plus-1(type='button')