.tags
  display flex
  flex-flow row wrap
  align-items flex-start
  cursor default
  margin-bottom -10px
  &__item
    color inherit
    text-decoration none !important
    font-size 10px
    line-height 1em
    text-transform uppercase
    margin 0 10px 10px 0
    border 2px solid #cfd9e0
    padding 8px 10px 6px
    a&
      &:hover, &:focus
        color $blue-1
        border-color $blue-1