@font-face {
  font-family: "glyphicons";
  src: url('../fonts/glyphicons/glyphicons.eot');
  src: url('../fonts/glyphicons/glyphicons.eot?#iefix') format('eot'),
  url('../fonts/glyphicons/glyphicons.woff2') format('woff2'),
  url('../fonts/glyphicons/glyphicons.woff') format('woff'),
  url('../fonts/glyphicons/glyphicons.ttf') format('truetype'),
  url('../fonts/glyphicons/glyphicons.svg#glyphicons') format('svg');
}

.glyphicon:before {
  font-family: "glyphicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
}


.glyphicon-angle-left:before {
  content: "\E001";
}

.glyphicon-angle-right:before {
  content: "\E002";
}

.glyphicon-cancel:before {
  content: "\E003";
}

.glyphicon-fb:before {
  content: "\E004";
}

.glyphicon-icon-navigation-shapka:before {
  content: "\E005";
}

.glyphicon-icon-phone-shapka:before {
  content: "\E006";
}

.glyphicon-icon-search:before {
  content: "\E007";
}

.glyphicon-ins:before {
  content: "\E008";
}

.glyphicon-menu-button:before {
  content: "\E009";
}

.glyphicon-menu-lines:before {
  content: "\E00A";
}

.glyphicon-menu-options:before {
  content: "\E00B";
}

.glyphicon-menu:before {
  content: "\E00C";
}

.glyphicon-ok:before {
  content: "\E00D";
}

.glyphicon-star:before {
  content: "\E00E";
}

.glyphicon-to-top:before {
  content: "\E00F";
}

.glyphicon-vk:before {
  content: "\E010";
}

.glyphicon-yt:before {
  content: "\E011";
}