.gallery
  font-family 'zero-width'
  margin 0 -36px

  &__item
    display inline-block
    vertical-align top
    font-family $font-family-base
    width percentage(1/3)
    padding-top percentage(1/3)
    position relative

  &__item-img
    position absolute
    top 0
    left 0