.pay-systems
  text-align center
  margin 0 rem(-7px) rem(17px)

  &__item
    display inline-block
    vertical-align middle
    width rem(50px)
    margin 0 rem(7px) rem(14px)

    &_master-card
      width rem(43px)

    &_pay-pal
      width rem(75px)

  @media (min-width $screen-sm-min)
    text-align left

  @media (min-width $screen-md-min)
    margin-bottom rem(-14px)