mixin pay-systems()
  .-pay-systems&attributes(attributes)
    img.__item._visa(src='static/img/general/VisaLogo.png' alt='Visa' title='Visa')
    img.__item._master-card(src='static/img/general/MasterCardLogo.png' alt='MasterCard' title='MasterCard')
    img.__item._pay-pal(src='static/img/general/paypal_logo.png' alt='MasterCard' title='PayPal')