/*!!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
//@import "sources/components/bootstrap/css/variables"
//@import "sources/components/bootstrap/css/mixins"

// Reset and dependencies
@import "sources/components/bootstrap/css/normalize"
@import "sources/components/bootstrap/css/print"
//@import "./sources/components/bootstrap/css/glyphicons"

// Core CSS
@import "sources/components/bootstrap/css/scaffolding"
@import "sources/components/bootstrap/css/type"
@import "sources/components/bootstrap/css/code"
@import "sources/components/bootstrap/css/grid"
//@import "./sources/components/bootstrap/css/tables"
//@import "./sources/components/bootstrap/css/forms"
//@import "sources/components/bootstrap/css/buttons"

// Components
//@import "sources/components/bootstrap/css/component-animations"
@import "sources/components/bootstrap/css/dropdowns"
//@import "./sources/components/bootstrap/css/button-groups"
//@import "./sources/components/bootstrap/css/input-groups"
//@import "sources/components/bootstrap/css/navs"
//@import "./sources/components/bootstrap/css/navbar"
//@import "./sources/components/bootstrap/css/breadcrumbs"
//@import "./sources/components/bootstrap/css/pagination"
//@import "./sources/components/bootstrap/css/pager"
//@import "./sources/components/bootstrap/css/labels"
//@import "./sources/components/bootstrap/css/badges"
//@import "./sources/components/bootstrap/css/jumbotron"
//@import "./sources/components/bootstrap/css/thumbnails"
//@import "./sources/components/bootstrap/css/alerts"
//@import "./sources/components/bootstrap/css/progress-bars"
//@import "./sources/components/bootstrap/css/media"
//@import "./sources/components/bootstrap/css/list-group"
//@import "./sources/components/bootstrap/css/panels"
//@import "./sources/components/bootstrap/css/responsive-embed"
//@import "./sources/components/bootstrap/css/wells"
//@import "./sources/components/bootstrap/css/close"

// Components w/ JavaScript
//@import "./sources/components/bootstrap/css/modals"
//@import "sources/components/bootstrap/css/tooltip"
//@import "./sources/components/bootstrap/css/popovers"
//@import "./sources/components/bootstrap/css/carousel"

// Utility classes
@import "sources/components/bootstrap/css/utilities"
@import "sources/components/bootstrap/css/responsive-utilities"
