.social-networks {
  display flex
  flex-flow row wrap
  justify-content center
  margin 0 rem(-3) rem(15)

  &__title {
    color $blue-2
    font-size rem(14)
    text-align center
    width 100%
    margin 0 rem(3) rem(10)
  }

  &__item {
    color #b1b1b1
    text-decoration none
    margin 0 rem(3) rem(10)
    font-size rem(32)
    line-height 1em
    border-radius 50%
    &:hover, &:focus {
      color $blue-1
      text-decoration none
    }
  }

  @media (min-width $screen-sm-min) {
    justify-content flex-end
    align-items center
    margin-left 0
    margin-right 0

    &__title {
      width auto
      text-align right
      margin-left 0
      margin-right rem(10)
    }

    &__item {
      margin-left rem(5)
      margin-right 0
    }
  }
}
