mixin social-networks()
  .-social-networks&attributes(attributes)
    span.__title Поделиться
    //-+a().__item.glyphicon.glyphicon-gp(target='_blank' title='Google+')
    +a().__item.glyphicon.glyphicon-fb(target='_blank' title='Facebook')
    +a().__item.glyphicon.glyphicon-vk(target='_blank' title='VK')
    +a().__item.glyphicon.glyphicon-yt(target='_blank' title='YouTube')
    +a().__item.glyphicon.glyphicon-ins(target='_blank' title='Instagram')
    +a().__item.glyphicon.glyphicon-ok(target='_blank' title='OK')
