.info-order
  display flex
  align-items flex-start
  color $green-1
  font-size 14px
  line-height (18/14)em
  padding 15px
  margin-bottom 20px
  background-color white
  border 1px solid $green-1
  border-radius 2px

  &__icon
    flex none
    font-size 29px
    line-height 1em
    margin 3px 12px 0 0

  &__text
    flex 1 1 auto
    align-self center
    overflow hidden