include ../blocks/doctype/doctype
include ../blocks/nav-box/nav-box

block variables
  -
    var pageTitle = pages.index.title,
    pageUrls = [pages.index.url];

include ../blocks/header/header
include ../blocks/content/content
include ../blocks/footer/footer

+doctype(pageTitle)
  .-wrapper
    +header()
    +content()

    +footer()