.ratings
  &__img-wrap
    overflow hidden
    width rem(120)
    height rem(90)
    position relative
    margin-bottom rem(20)
    &:empty
      display flex
      justify-content center
      align-items center
      background #CCCCCC
      &:before
        content '240x180'
        font-size rem(20)

  &__img
    position absolute
    top 0
    left 0

  &__caption
    font-size rem(14)