.contacts
  text-align center

  a
    color $headings-color
    text-decoration none
    &:hover, &:focus
      color $blue-1
      text-decoration none

  &__section
    margin-bottom 0.5rem

  &__title
    color $blue-1
    margin-bottom 0.5em

  @media (min-width $screen-md-min)
    &__section
      margin-bottom 3rem

