.photos-list
  margin 0 0 (- $grid-gutter-width)
  &__row
    justify-content center

  &__col
    max-width rem(295px) + $grid-gutter-width
    margin 0 0 $grid-gutter-width
    &:empty
      margin 0
