.grid
  clearfix()
  &_1
    & {$p}__col
      float left
      &_1
        width percentage(820/1170)
        padding-right 20px
      &_2
        width percentage((1170 - 820)/1170)
        padding-left 20px