.aside
  padding 12px 15px 20px
  margin-bottom 20px
  background-color #f9f9f9
  border 1px solid #d4d4d4
  border-radius 0px 0px 2px 2px

  &__header
    color white
    padding 16px 15px
    margin -13px -16px 12px
    background-color $green-1

  &__title
    color inherit
    font-size 15px
    font-weight 700
    line-height 1.25em
    text-transform uppercase
    margin 0