.action
  color white
  font-size (16/$font-size-root)rem
  .sale
    float left
  .price
    float right
    color $red-1
    margin 0
    &_old
      float left
      color inherit
      margin -6px 0 0 0
  .form-row_btns
    margin-top 10px
    margin-bottom 0
  &__title
    text-align center
    text-transform none
    margin 0 0 10px