.content {
  flex 1 0 auto
  &__columns {
    & {r}__col {
      margin 0 0 rem(20)
    }
  }

  @media (min-width $screen-md-min) {
    &__columns {
      & {r}__col {
        &_1 {
          order 2
        }
      }
    }
  }
}
