.toggle-menu
  padding 0
  border 1px solid #ebebeb
  background none
  float left
  width 40px
  height 40px
  color white
  position relative
  text-align center
  transition 0.15s
  &__line
    border-top 2px solid
    margin 3px auto
    display block
    width 20px
    transition inherit
    transform-origin 50% 50%
  &_opened
    //
