.form-feedback
  max-width rem(610px)
  margin 1rem auto 0
  .btn
    width rem(180px)

  &__title
    color #666
    text-align center
    font-size rem(16px)
    line-height 1.25em
    font-weight 900
    text-transform uppercase
    margin-bottom 2.5em
    .glyphicon
      display inline-block
      vertical-align top
      font-size rem(10px)
      margin-left rem(15px)

  @media (min-width $screen-md-min)
    max-width none

    &__title
      margin-bottom 3.5em