.articles-list {
  margin 0 0 rem(-25)

  &__row {
    margin 0 rem(-12)
    justify-content center
  }

  &__col {
    padding 0 rem(12)
    max-width rem(370) + rem(24)
    margin 0 0 rem(25)
    &:nth-child(even) {
      .article-item {
        &__img-wrap {
          order 1
        }
      }
    }
    &:empty {
      margin 0
    }
  }
}