.review-item
  line-height (18/14)
  padding 0 20px 25px
  border-bottom 1px solid #ececec
  margin 0 -20px 25px
  p
    &:last-child
      margin 0
  &__header
    display flex
    font-size 12px
    line-height 1.25em
    margin-bottom 15px
  &__author-name
    width 50%
    padding-right 10px
    color #2c2c2c
    font-weight 900
    font-size 12px
    text-transform uppercase
  &__date
    width 50%
    padding-left 10px
    text-align right
    font-weight 500
  &__title
    font-weight 700
    font-size 16px
    margin 0 0 10px
    text-transform none

  @media (min-width $screen-sm-min)
    display flex
    justify-content space-between
    padding 0 0 25px
    border-bottom 0
    margin 0 0 25px
    &__header
      width unquote('calc(' + percentage(1/4) + ' - 10px)')
      display block
      margin 4px 0 15px
    &__author-name
      width auto
      padding 0
      margin-bottom 10px
    &__date
      width auto
      padding 0
    &__content
      width unquote('calc(' + percentage(3/4) + ' - 10px)')


