.section {
  padding rem(55px) 0

  &__header {
    text-align center
    margin-bottom rem(30px)
  }

  &__title {
    font-size rem(20)
    text-align center
    text-transform uppercase
    margin 0 0 1.3em
  }

  &__lead {
    color #888
    font-size rem(22px)
  }

  &__btns {
    text-align center
  }

  &_gray {
    background-color whitesmoke
  }

  @media (min-width $screen-sm-min) {
    &__title {
      font-size rem(29)

      &_small {
        font-size rem(26)
      }
    }
  }

  @media (min-width $screen-md-min) {

  }
}
