-
  var reviewsListMedical = [
  {
  text: 'Хорошо, что рядом с домом находится клиника и там работает знакомая медсестра, которая не только делает мне уколы, но и помогает мне...',
  name: 'Наталья Петрова',
  place: 'Москва'
  },
  {
  text: 'Было очень приятно увидеть к себе вежливое и доброжелательное отношение, доктор внимательная, в ней чувствуется профессионал. В целом от посещения клиники осталось положительное впечатление',
  name: 'Алексей Морозов',
  place: 'Нижний Новгород'
  },
  {
  text: 'Я ходила сюда на уколы, дома делать никто не умеет. Вообще-то я их с детства боюсь, но тут нормально, прямо минутка, и всё.',
  name: 'Мария Васнецова',
  place: 'Волгоград'
  },
  {
  text: 'Хорошо, что рядом с домом находится клиника и там работает знакомая медсестра, которая не только делает мне уколы, но и помогает мне...',
  name: 'Наталья Петрова',
  place: 'Москва'
  },
  {
  text: 'Было очень приятно увидеть к себе вежливое и доброжелательное отношение, доктор внимательная, в ней чувствуется профессионал. В целом от посещения клиники осталось положительное впечатление',
  name: 'Алексей Морозов',
  place: 'Нижний Новгород'
  }
  ];

mixin reviews-list(reviewsList)
  .-reviews-list.slick-slider&attributes(attributes)
    each review, index in reviewsList
      .-slick-slide
        article.-reviews-list.__item
          .__icon._header.glyphicon.glyphicon-comments
          .__text
            p #{review.text}
          .__footer
            .__icon._footer.glyphicon.glyphicon-user.hidden-xs
            h3.__name #{review.name}
            .__place #{review.place}