-
  var advantagesListMedical = [
  {
  icon: 'tablets',
  title: 'Лечение заболеваний',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'tel-med',
  title: 'Консультация врача',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'folder-med',
  title: 'Индивидуальный подход',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'diagnos',
  title: 'Анализы и диагностика',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

  var advantagesListBeauty = [
  {
  icon: 'beauty-1',
  title: 'Макияж',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'beauty-2',
  title: 'Стрижки',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'beauty-3',
  title: 'Прически и укладки',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'beauty-4',
  title: 'Окрашивание волос',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

  var advantagesListFitness = [
  {
  icon: 'fitness-4',
  title: 'Займись фитнесом',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'fitness-5',
  title: 'Коммерческие классы',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'fitness-6',
  title: 'Расчет индекса массы тела',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'fitness-7',
  title: 'Персональные тренировки',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

  var advantagesListPet = [
  {
  icon: 'pet-4',
  title: 'Лечение заболеваний',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'pet-5',
  title: 'Консультация врача',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'pet-6',
  title: 'Индивидуальный подход',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'pet-7',
  title: 'Анализы и диагностика',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

  var advantagesListSpa = [
  {
  icon: 'spa-4',
  title: 'Райский spa-цитрус',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'spa-5',
  title: 'Скрабирование тела',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'spa-6',
  title: 'Сокровища мертвого моря',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'spa-7',
  title: 'Средиземноморский уход',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

  var advantagesListYoga = [
  {
  icon: 'yoga-4',
  title: 'Yomass',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'yoga-5',
  title: 'Остеопатия',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'yoga-6',
  title: 'Массаж',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  },
  {
  icon: 'yoga-7',
  title: 'BodyLogic',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи.'
  }
  ];

mixin advantages-list(advantagesList)
  .-advantages-list&attributes(attributes)
    .__row.row
      each advantage, index in advantagesList
        .__col.col-xs-12.col-sm-6
          article.__item
            .__item-icon.glyphicon(class=`glyphicon-${advantage.icon}`)
            h3.__item-title #{advantage.title}
            .__description
              p #{advantage.description}
