.advantages-list
  margin-bottom -2.5rem
  p
    display inline

  &__item
    text-align center
    margin-bottom 2.5rem

    &-icon
      color $blue-1
      font-size rem(41px)
      line-height rem(53px)
      margin-bottom rem(20px)
      &.glyphicon-beauty-1
        font-size rem(48px)
      &.glyphicon-beauty-2
        font-size rem(53px)
      &.glyphicon-beauty-3
        font-size rem(46px)
      &.glyphicon-beauty-4
        font-size rem(48px)

    &-title
      font-size rem(22px)
      margin-bottom 0.5em

  @media (min-width $screen-sm-min)
    &__item
      text-align left
