.table
  width 100%
  th, td
    text-align left
    vertical-align baseline
    font-weight 300
    padding 14px 10px
    &:first-child
      padding-left 25px
    &:last-child
      padding-right 25px
  thead
    background-color #e8edf1
  tbody
    color #6587a8
    tr
      &:nth-child(even)
        background-color #f4f8fb