div(style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;").
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" preserveAspectRatio="none">
    <defs>
      <style type="text/css"></style>
    </defs>
    <!-- symbol definition  NEVER draw -->
    <symbol id="star" viewBox="0 0 17.177 16.336">
      <polygon points="4.831,10.25 1.075,6.589 6.267,5.835 8.589,1.13 10.91,5.835 16.102,6.589 12.346,10.25 13.232,15.422 8.589,12.98 3.945,15.422"/>
      <path fill="#1D96DA" d="M8.589,2.26l1.756,3.56l0.233,0.472l0.52,0.076l3.929,0.571l-2.843,2.771l-0.376,0.367l0.089,0.518 l0.671,3.914L9.054,12.66l-0.465-0.245L8.124,12.66l-3.515,1.848l0.671-3.914l0.089-0.518L4.992,9.709L2.149,6.938l3.929-0.571 l0.52-0.076l0.233-0.471L8.589,2.26 M8.589,0L5.935,5.378L0,6.24l4.294,4.185l-1.013,5.911l5.308-2.791l5.307,2.791l-1.013-5.911 l4.294-4.185l-5.935-0.862L8.589,0L8.589,0z"/>
    </symbol>
  </svg>