-
  var voidHref = 'javascript:;';

  var paths = {
  imgGeneral: 'static/img/general',
  imgContent: 'static/img/content'
  }

  var pages = {
  home: {title: 'Pages', url: 'home.html'},
  index: {title: 'Главная', url: 'index.html'},
  page: {title: 'Комплексная имплантация зубов', url: 'page.html'},
  };

  var popups = {
  };