.tabs
  &__nav
    display flex
    overflow auto
    -webkit-overflow-scrolling touch
    margin 0 0 rem(35px)

  &__nav-inner
    display flex
    margin 0 auto

  &__nav-item
    min-width rem(180px)
    & + &
      margin-left rem(15px)
    &_opened
      &.btn
        &,
        &:hover,
        &:focus,
        &.focus
          color white
          background $blue-1
          border-color $blue-1

  &__content
    display none

  &_init
    & {r}__content
      display block