.color-item
  color #2c2c2c
  font-weight 500
  font-size 12px
  line-height 1.25em
  text-transform uppercase
  display inline-block
  cursor pointer
  &__icon
    square 19px
    border-radius 50%
    margin -2px 9px 0 0
    display inline-block
    vertical-align middle
  &__label
    display inline