.product-item
  margin 0 0 20px
  color #747474
  &__inner
    display block
    text-decoration none !important
    color inherit !important
    background-color white
    border 1px solid #d4d4d4
    border-radius 2px
    padding 10px 12px 20px
    position relative
    transition $transition-duration-base
    &:hover, &:focus
      box-shadow 0 2px 7px rgba(80, 80, 80, 0.17)
      & {$p}__favorites, & {$p}__graph
        opacity 1

  &__img-wrap
    margin 24px 15.61%

  &__img-wrap-inner
    position relative
    padding-top percentage(1)
    overflow hidden

  &__img
    position absolute
    top 0
    left 0

  &__title
    margin 0 0 10px
    overflow hidden
    color #474747
    font-size 17px
    font-weight 400
    line-height (20/17)em
    height @line-height*2

  &__properties
    list-style none
    margin 0
    padding 0
    font-size 14px
    line-height (22/14)em
    li
      margin 0
      text-overflow ellipsis
      &:before
        content normal

  &__footer
    margin-top 30px
    display flex
    align-items center

  &__price-box
    flex 1 1 auto
    overflow hidden
    margin -2px 0
    line-height 0

  &__price
    display inline-block
    vertical-align top
    max-width 100%
    color #935e43
    font-size 21px
    line-height 1em
    text-overflow ellipsis
    .rouble
      margin-left 4px
    &_old
      color #474747
      font-size 16px
      position relative
      margin-bottom 4px
      &:before
        content ''
        position absolute
        top 50%
        left 0
        right 0
        margin-top 1px
        border-top 1px solid

  &__status
    flex none
    margin-left 5px

  &__label
    color white
    font-size 13px
    line-height 22px
    height 22px
    background-color #e8af20
    position absolute
    top 10px
    left -1px
    padding 0 12px
    white-space nowrap
    z-index 2
    &:before
      content ''
      position absolute
      top 0
      left 100%
      border-top 11px solid #e8af20
      border-bottom 11px solid #e8af20
      border-right 6px solid transparent

    &_hit
      background-color #f06d2b
      &:before
        border-top-color #f06d2b
        border-bottom-color #f06d2b

    &_sale
      background-color #911411
      &:before
        border-top-color #911411
        border-bottom-color #911411

  &__options
    position absolute
    top 10px
    right 12px
    display flex
    flex-flow column
    align-items flex-end
    z-index 2

  &__favorites
    color #575757
    font-size 22px
    line-height 1em
    overflow visible
    margin-bottom 10px
    opacity 0
    &:hover, &:focus, &_active
      color $brown-1
      opacity 1

  &__graph
    color #6e6e6e
    font-size 20px
    line-height 1em
    overflow visible
    opacity 0
    &:hover, &:focus, &_active
      color #575757
      opacity 1


  @media (min-width 480px)
    //width unquote('calc(' + percentage(1/2) + ' - 20px)')

  @media (min-width $screen-sm-min)
    //width unquote('calc(' + percentage(1/3) + ' - 20px)')

  @media (min-width $screen-md-min)
    //width unquote('calc(' + percentage(1/4) + ' - 20px)')
