.pagination
  text-align center
  margin 40px 0

  &__item
    text-align center
    color #afafaf
    text-decoration none
    font-size rem-calc(20)
    font-weight 400
    line-height rem-calc(45)
    min-width rem-calc(45)
    height rem-calc(45)
    padding 0 8px
    margin 0 5px
    background-color #f3f3f3
    &:hover, &:focus, &_current
      color white
      background $green-1
    &_current
      cursor default